@media Screen and (min-width: 400) and (max-width: 200) {

}

@media Screen and (min-width: 600) and (max-width: 6000) {

}

body {
  margin-top: 15px;
  padding: 50 px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.column {
  margin-top: 30px;
  text-align: center;
}

img {
  float: left;
  height: 400px;
  width: auto;
}

.dark-background {
  background-color: black;
}